Here is a list of all the bands!

<ul>
  <% @bands.each do |band| %>
    <ul>
      <li><%= band.name  %></li>
      <ul>
        <a href=" <%= band_url(band) %> ">Click here for band's page!</a>
      </ul>
    </ul>
  <% end %>
</ul>

<br>
<form action="<%= new_band_url %>" method="get">
  <input type="submit" name="" value="Create a new band!">
</form>
